// Default variable overrides
$body-bg: #000;
$body-color: #111;
$blue: #184b97 !default;


// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// // Optional Bootstrap components here
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/modal";

// Default variable overrides
// $body-bg: #000;
// $body-color: #111;
// $blue: #184b97 !default;

// @import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-size: 16px;

  div {
    margin-top: 100px;
    font-size: 12px;
  }
}
